<div class="center jumbotron">
  <h4>Welcome to the Members Only Odin App</h4>
  <p>
    This is the root page for the Members Only app, created during the
    Odin Project Rails tutorial. This is based on the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </p>
  <%= link_to "Log in now!", login_path, class: "btn btn-primary" %>
</div>
